{% extends "base.html" %}
{% block title %} Homepage FILMS {% endblock %}
{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">


			<ul>

			</ul>
		</div>
	</div>
</div>
{% endblock %}
