{% extends "base.html" %}
{% block title %} Afficher GENRES {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Genres à disposition.
			</p>
            <table class="table table-bordered table-sm">
            {% if data %}
                <thead>
                    <tr>
                        <th class="align-middle">
                            Modèle
                        </th>
                        <th class="align-middle">
                            Processeur
                        </th>
                        <th class="align-middle">
							Carte graphique
                        </th>
                        <th class="align-middle">
							Ram
                        </th>
						<th class="align-middle">
							Stockage
                        </th>
						<th class="align-middle">
							Résolution
                        </th>
						<th class="align-middle">
							Clavier
                        </th>
						<th class="align-middle">
							Wifi
                        </th>
						<th class="align-middle">
							Buetooth
                        </th>
						<th class="align-middle">
							Tactile
                        </th>
                    </tr>
                </thead>
            {% endif %}

            {% for row in data %}
				<tbody>
					<tr>
						<td class="align-middle">
							{{ row.id }}
						</td>
						<td class="align-middle">
							{{ row.Modele }}
						</td>
						<td class="align-middle">
							{{ row.Processeur }}
						</td>
						<td class="align-middle">
							{{ row.Carte_graphique }}
						</td>
						<td class="align-middle">
							{{ row.Ram }}
						</td>
						<td class="align-middle">
							{{ row.Stockage }}
						</td>
						<td class="align-middle">
							{{ row.Resolution }}
						</td>
						<td class="align-middle">
							{{ row.Clavier }}
						</td>
						<td class="align-middle">
							{{ row.Wifi }}
						</td>
						<td class="align-middle">
							{{ row.Bluetooth }}
						</td>
						<td class="align-middle">
							{{ row.Tactile }}
						</td>

						<td class="text-center" class="align-middle">
							<a class="btn btn-primary" href="{{ url_for('genres_ajouter_wtf') }}" role="button">Ajouter</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('genre_update_wtf', id_genre_btn_edit_html=row.id_genre) }}" role="button">Edit</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-danger" href="{{ url_for('genre_delete_wtf', id_genre_btn_delete_html=row.id_genre) }}" role="button">Delete</a>
						</td>
					</tr>
				</tbody>
            {% else %}
				<tbody>
					<tr>
						<td>
							Aucun genre.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('genres_ajouter_wtf') }}" role="button">Ajouter</a>
						</td>
					</tr>
				</tbody>
            {% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}

